{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content -%}
    <h1>Template list</h1>

    <a href="{{ path('job_index_page', { 'jobs_type': 'actual' }) }}">Active jobs</a>
    <a href="{{ path('job_index_page', { 'jobs_type': 'ended' }) }}">Ended jobs</a>
    <table border="1px">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(jobs, 'Id', 'j.id') }}</th>
            <th>{{ knp_pagination_sortable(jobs, 'Name', 'j.name') }}</th>
            <th>{{ knp_pagination_sortable(jobs, 'Template', 'j.template_id') }}</th>
            <th>{{ knp_pagination_sortable(jobs, 'Start Date', 'j.started_at') }}</th>
            <th>{{ knp_pagination_sortable(jobs, 'End Date', 'j.ended_at') }}</th>
        </tr>

        {# table body #}
        {% for entity in jobs %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td><a href="{{ path('template_show', {'alias': entity.template.alias}) }}">{{ entity.template.Alias }}</a></td>
                <td>{{ entity.startedAt.format('l, Y-M-d H:i:s') }}</td>
                <td>{{ entity.endedAt }}</td>
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('template_show', { 'alias': entity.alias }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('template_edit', { 'id': entity.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(jobs) }}
    </div>

{% endblock %}