<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div style="width: 900px; margin: 0 auto;">
    <div style="float: left">
        <a href="{{ path('job_index_page') }}">Jobs</a>
        <a href="{{ path('template') }}">Templates</a>
        <a href="{{ path('email_page_main') }}">Emails</a>
        <a href="{{ path('contact_list_main_page') }}">Contacts list</a>
    </div>
    <div style="text-align: right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('fos_user_profile_show')}}">
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
            </a> |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
    <div>
        {% block right_sidebar %}
        {% endblock %}
    </div>

</div>
</body>
</html>
